[submodule "meta-java"]
	path = meta-java
	url = git://git.yoctoproject.org/meta-java
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-samsung"]
	path = meta-samsung
	url = git://github.com/shr-distribution/meta-smartphone.git
[submodule "meta-smartphone"]
	path = meta-smartphone
	url = git://github.com/shr-distribution/meta-smartphone.git
